#input {
  display:flex;
  flex-direction: column;
  width: 380px;
  height: 150px;
  border: 1px solid;
  margin: 30px auto;
}  
#search {
  align-self: center;
  width: 95%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  margin-top: 7px;
  font-size: 100%;
}
  
#suggestions {
  flex-grow: 100;
  word-wrap: break-word;
  overflow-y: auto;
}

.suggestion {
  max-width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;  
  cursor: pointer;
}
@media (max-width: 499px) {
  #input {
    width: 280px;
  }
}  
