#output {
    width: 400px;
    height: 500px;
    border: 1px solid;
    margin: 30px auto;
    padding: 5px 5px 3px 5px;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 15px;
  }

#output-cap {
  width: 100%;
  height: 33px;
  margin-bottom: 5px;
}

#cuisine {
  border-bottom: 2px solid;
  padding: 3px;
  display: inline-block; /*float on #close applies it too*/
}

.btn {
  float: right;
  border: 1px solid;
  border-radius: 7px;
  padding: 3px;
  cursor: pointer;
  user-select: none;
  margin-left: 7px;
}

.btn:active {
  border: 2px solid;
  transform: translate(0px, -1px);
  margin-left: 6px;
  margin-right: -1px;
}

.decoration {
  transform: translate(0px, 1px);
}
